# AVC Data Challenge Dashboard - EDA


---

### Questions to Answer:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
# load in data sets

# Migration Flows Between Regions of Persons 16 Years and Over, by Income in 2017, Labor Force Status, Major Occupation Group, 
# and Major Industry Group
# 2017-2018
flow_17_18 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab13_2017_2018.xls', header=[0, 1])

# 2018-2019
flow_18_19 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab13_2019_2018.xls', header=[0, 1])

# 2019-2020
flow_19_20 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab13_2019_2020.xls', header=[0, 1])

# 2020-2021
flow_20_21 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\mig_13_2020_2021_1yr.xlsx', header=[0, 1])

# Reason for move
# 2017-2018
rsn_17_18 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab18_1_2017_2018.xls', header=[0,1])

# 2018-2019
rsn_18_19 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab18_1_2018_2019.xls', header=[0,1])

# 2019-2020
rsn_19_20 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\tab18_1_2019_2020.xls', header=[0,1])

# 2020-2021
rsn_20_21 = pd.read_excel(r'C:\Users\chris\Documents\Practice_projects\avc_dashboard\Data\mig_18_01_2020_2021_1yr.xlsx', header=[0,1])

In [76]:
# Make the index the first column

flow_17_18 = flow_17_18.set_index('Persons 16 Years and Over in the United States')

flow_18_19 = flow_18_19.set_index('Persons 16 Years and Over in the United States')

flow_19_20 = flow_19_20.set_index('Persons 16 Years and Over in the United States')

flow_20_21 = flow_20_21.set_index('Persons 16 Years and Over in the United States')

rsn_17_18 = rsn_17_18.set_index('Movers 16 Years and Over in the United States')

rsn_18_19 = rsn_18_19.set_index('Movers 16 Years and Over in the United States')

rsn_19_20 = rsn_19_20.set_index('Movers 16 Years and Over in the United States')

rsn_20_21 = rsn_20_21.set_index('Movers 16 Years and Over in the United States')

In [78]:
rsn_19_20['Family-related reasons']

,".\nTotal, collapsed/1",.\nChange in marital status,.\nTo establish own household,.\nOther family reason/2
Movers 16 Years and Over in the United States,,,,
"(MOVERS 16+ years,)",5889.0,1429,2524.0,1936.0
"(HOUSEHOLD INCOME IN 2019,)",NaN,NaN,NaN,NaN
"(.Under $10,000 or loss,)",362.0,52,216.0,94.0
"(.$10,000 to $19,999,)",346.0,62,134.0,150.0
"(.$20,000 to $29,999,)",461.0,82,272.0,107.0
"(.$30,000 to $39,999,)",474.0,122,166.0,186.0
"(.$40,000 to $49,999,)",574.0,106,283.0,186.0
"(.$50,000 to $59,999,)",583.0,98,318.0,167.0
"(.$60,000 to $69,999,)",397.0,110,161.0,126.0
"(.$70,000 to $84,999,)",575.0,151,247.0,176.0
"(.$85,000 to $99,999,)",367.0,102,145.0,119.0
"(.$100,000 and over,)",1750.0,544,583.0,623.0
"(LABOR FORCE STATUS,)",NaN,NaN,NaN,NaN
"(.Employed (civilian),)",3989.0,1014,1887.0,1088.0
"(.Unemployed,)",302.0,71,132.0,99.0
"(.Armed Forces/3,)",32.0,11,19.0,1.0
"(.Not in labor force,)",1566.0,333,486.0,748.0
"(MAJOR OCCUPATION,)",NaN,NaN,NaN,NaN
"(.Management, business, and financial,)",581.0,203,250.0,128.0
"(.Professional,)",889.0,271,407.0,212.0
"(.Service,)",781.0,151,369.0,260.0
"(.Sales,)",346.0,90,153.0,103.0
"(.Office and administrative support,)",435.0,92,232.0,111.0
"(.Farming, fishing, and forestry,)",14.0,1,5.0,7.0
"(.Construction and extraction,)",229.0,57,86.0,86.0
"(.Installation, maintenance, and repair,)",130.0,33,81.0,16.0
"(.Production,)",242.0,34,140.0,68.0
"(.Transportation and material moving,)",342.0,83,163.0,96.0
"(.Armed Forces or not employed civilian/3,)",1900.0,415,637.0,848.0
"(MAJOR INDUSTRY,)",NaN,NaN,NaN,NaN
"(.Agricultural, forestry, fishing, and hunting,)",39.0,6,19.0,13.0
"(.Mining,)",8.0,-,2.0,5.0
"(.Construction,)",296.0,90,116.0,90.0
"(.Manufacturing,)",392.0,99,207.0,85.0
"(.Wholesale and retail trade,)",522.0,105,265.0,152.0
"(.Transportation and utilities,)",276.0,67,138.0,71.0
"(.Information,)",70.0,32,25.0,12.0
"(.Financial activities,)",231.0,72,118.0,41.0
"(.Professional and business services,)",456.0,111,209.0,136.0
"(.Educational and health services,)",899.0,250,419.0,231.0
"(.Leisure and hospitality,)",506.0,96,232.0,178.0
"(.Other services,)",180.0,58,91.0,30.0
"(.Public administration,)",114.0,27,45.0,42.0
"(.Armed Forces or not employed civilian/3,)",1900.0,415,637.0,848.0